.ham{
   width: 25px;
   height: 25px;
   margin-right: 15px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
 
 .ham span{
   width: 100%;
   height: 4px;
   display: block;
   background-color: black;
 }
 .ham span:nth-child(1){
    
 }
 .ham span:nth-child(2){
    
 }
 .ham span:nth-child(3){
    
 }
 .ham.x span:nth-child(1){
    transform:translateY(11px) rotate(45deg);
    transition: 0.1s;
 }
 .ham.x span:nth-child(2){
    opacity: 0;
    transition: 0.5s;
}    
 .ham.x span:nth-child(3){
    transform:translateY(-11px) rotate(-45deg);
    transition: 0.1s;
 }
